<div class="grid-container">
  <h1 class="mat-h1">Quizes</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards; track card) {
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.description}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="content">{{card.score}}</div>
            <button mat-button [routerLink]="['/quiz/', card.id]" >Attempt quiz</button>
          </mat-card-content> 
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
